.container{
    width: 134px;
    height: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#FFFFFF;
    border-radius: 16px;
    cursor: pointer;
    gap:10px;
    color:#A098AE;
    font-size: 14px;

}
.container:hover{
    box-shadow: #F8B602 0px 2px 8px 0px;
    transition: 0.3s ease;
}

.activeContainer{
    width: 136px;
    height: 124px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#FFFFFF;
    border-radius: 16px;
    cursor: pointer;
    gap:10px;
    color:#A098AE;
    box-shadow: #F8B602 0px 2px 8px 0px;
}
