.goTop{
    font-size: 15px;
    background-color: #F8B602;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    position: fixed;
    bottom: 10%;
    left:75.3%;
    animation: float 6s ease-in-out infinite;
    z-index: 10;
}

.hiddenGoTop {
    display: none;
}

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(248,182,2,0.6);
        transform: translatey(0px);
    }
    50% {
        box-shadow: 0 25px 15px 0px rgba(248,182,2,0.2);
        transform: translatey(-20px);
    }
    100% {
        box-shadow: 0 5px 15px 0px rgba(248,182,2,0.6);
        transform: translatey(0px);
    }
}
