.container{
    display: flex;
    flex-direction: column;
    gap:24px;
}

.wrapper{
    display: flex;
    flex-direction: row;
    gap:24px;
}

.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content h1{
    font-size: 24px;
    color: #2E2E2E;
}
.content span{
    color:#F8B602;
    cursor:pointer;
}

.active{
    box-shadow: #F8B602 0px 2px 8px 0px;
}