.container{
    min-width: 250px;
    background-color: #FFFFFF;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 56px;
    display: flex;
    flex-direction: column;
    gap: 62px;
    align-items: center;
}
.wrapper{
    display: flex;
    flex-direction: column;
    gap: 62px;
    align-items: center;
    position: sticky;
}

.container ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container li{
    cursor: pointer;
    padding:18px;
    border-radius: 15px;
    width: 252px;
    color:#A098AE;
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 18px;

}
li.active{
    background-color:#F8B602;
    color:white;
    .icon{
        color:white;
    }
}

.container li:hover{
    background-color:#F8B602;
    color:white;
    .icon{
        color:white;
    }
}
.icon{
    color:#A098AE;
}