.container{
    min-width: 200px;
    background-color: #FFFFFF;
    padding:56px 45px 0 45px;
    display: flex;
    flex-direction: column;
    gap: 62px;
    align-items: center;
}
.wrapper{
    display: flex;
    flex-direction: column;
    gap: 62px;
    align-items: center;
    position: sticky;
}

.container ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container li{
    cursor: pointer;
    padding:18px;
    border-radius: 15px;
    min-width: 170px;
    height: 30px;
    color:#A098AE;
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 16px;

}
li.active{
    background-color:#F8B602;
    color:white;
    .icon{
        color:white;
    }
}

.container li:hover{
    background-color:#F8B602;
    color:white;
    .icon{
        color:white;
    }
}
.icon{
    color:#A098AE;
}