.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.actions{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

}
.avatar{
    border-radius: 16px;
    cursor: pointer;
}
.notification, .settings{
    cursor: pointer;
    color:#2E2E2E;
}
.signup{
    height: 50px;
    width: 150px;
    border: 1px solid  #F8B602;
    border-radius: 8px;
    background:  #F5F5F5;
    backdrop-filter: blur(8px);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 18px;
    font-weight: bold;

}
.signup:hover{
    background: #facf72;
    color: #FFFFFF;
    box-shadow: #F8B602 0px 2px 2px 0px;
    transition: 0.3s ease;
}

.login{
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 8px;
    background: #F8B602;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.login:hover{
    background-color: #f5be2b;
    box-shadow: #F8B602 0px 2px 2px 0px;
    transition: 0.3s ease;
}
.badge{
    width: 20px;
    height: 20px;
    font-size: 12px;
    position: relative;
    bottom: 10px;
    right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background:#F8B602;
    border-radius: 100%;
}
.userAction{
    width: 130px;
    padding: 10px;
    position: absolute;
    border-radius: 8px;
    top: 60px;
    right: 0px;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.userAction span{
    width: 100%;
    padding: 5px;
    border-radius: 8px;
}
.userAction span:hover{
    background-color: #F8B602;
    color:#FFFFFF;
    cursor: pointer;
}
