@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #F5F5F5;
}

.main-container{
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;

}
.main-wrapper{
  width: 76%;
  padding: 56px 40px 0 40px;
}
