.container{
    min-width: 315px;
    min-height: 1600px;
    background-color: #FFFFFF;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 56px;
    display: flex;
    flex-direction: column;
    gap: 62px;
    align-items: center;
    right:0;

}
.wrapper{
    width: 100%;
    position:sticky;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: baseline;
}
.container ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container li{
    cursor: pointer;
    padding:18px;
    border-radius: 15px;
    color:#A098AE;
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 18px;

}
li.active{
    background-color:#F8B602;
    color:white
}

.container li:hover{
    background-color:#F8B602;
    color:white;
}
.icon{
    filter: inherit;
}
